################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/automating-azure-analysis-services/v15/Server/sqlite3
