################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/automating-azure-analysis-services/v15/Server/sqlite3
/.vs/GitHub/v15
/.vs/slnx.sqlite
/AutoStartAzureAS/.vs/AutoStartAzureAS/v15/Server/sqlite3
/AutoStartAzureAS/.vs/AutoStartAzureAS/v15/.suo
/.vs